In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import ElasticNet

from sklearn import metrics
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.model_selection import cross_val_score

from scipy import stats

In [2]:
train = pd.read_csv("./data/train.csv")
train_y = train[["SALE PRICE"]]
train_X = train
del train_X["SALE PRICE"]

test_X = pd.read_csv("./data/test.csv")
test_y = pd.read_csv("./data/test_groundtruth.csv")

print("train_X:",train_X.shape)
print("train_y:",train_y.shape)
print("test_X:",test_X.shape)
print("test_y:",test_y.shape)

train_X: (43064, 19)
train_y: (43064, 1)
test_X: (10767, 19)
test_y: (10767, 1)

In [3]:
train.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE DATE
0,1,UPPER EAST SIDE (79-96),13 CONDOS - ELEVATOR APARTMENTS,2,1569,1027,R4,402 EAST 90TH STREET,5A,10128,1,0,1,-,-,1910,2,R4,2016-09-30 00:00:00
1,4,HOLLISWOOD,10 COOPS - ELEVATOR APARTMENTS,2,10538,70,D4,"87-50 204TH STREET, B42",,11423,0,0,0,-,-,1954,2,D4,2017-02-10 00:00:00
2,3,DOWNTOWN-FULTON MALL,13 CONDOS - ELEVATOR APARTMENTS,2,170,1042,R4,265 STATE STREET,910,11201,1,0,1,0,0,2014,2,R4,2017-01-25 00:00:00
3,4,FLUSHING-NORTH,13 CONDOS - ELEVATOR APARTMENTS,2,4410,1023,R4,137-11 32 AVENUE,4W,11354,1,0,1,-,-,0,2,R4,2017-03-17 00:00:00
4,3,PARK SLOPE,09 COOPS - WALKUP APARTMENTS,2C,1067,29,C6,"862 PRESIDENT STREET, 1",,11215,0,0,0,0,0,1920,2,C6,2016-09-09 00:00:00

In [4]:
num_train_samples = len(train_X)

data_X = pd.concat([train_X, test_X])

# Data Pre Processing

In [5]:
# Let's delete some of the columns that we ** may not ** need
# 请注意 下面删除的特征很可能是有用的，合理的处理能够获得更为准确的预测模型，请探索所删除特征的使用
del data_X['ADDRESS']
del data_X['APARTMENT NUMBER']
del data_X['BUILDING CLASS AT PRESENT']
del data_X['BUILDING CLASS AT TIME OF SALE']
del data_X['NEIGHBORHOOD']
del data_X['SALE DATE']
del data_X['LAND SQUARE FEET']
del data_X['GROSS SQUARE FEET']

In [6]:
# Let's convert some of the columns to appropriate datatype

data_X['TAX CLASS AT TIME OF SALE'] = data_X['TAX CLASS AT TIME OF SALE'].astype('category')
data_X['TAX CLASS AT PRESENT'] = data_X['TAX CLASS AT PRESENT'].astype('category')
data_X['BOROUGH'] = data_X['BOROUGH'].astype('category')

In [7]:
data_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53831 entries, 0 to 10766
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   BOROUGH                    53831 non-null  category
 1   BUILDING CLASS CATEGORY    53831 non-null  object
 2   TAX CLASS AT PRESENT       53831 non-null  category
 3   BLOCK                      53831 non-null  int64
 4   LOT                        53831 non-null  int64
 5   ZIP CODE                   53831 non-null  int64
 6   RESIDENTIAL UNITS          53831 non-null  int64
 7   COMMERCIAL UNITS           53831 non-null  int64
 8   TOTAL UNITS                53831 non-null  int64
 9   YEAR BUILT                 53831 non-null  int64
 10  TAX CLASS AT TIME OF SALE  53831 non-null  category
dtypes: category(3), int64(7), object(1)
memory usage: 3.9+ MB

In [8]:
data_X.head()

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
0,1,13 CONDOS - ELEVATOR APARTMENTS,2,1569,1027,10128,1,0,1,1910,2
1,4,10 COOPS - ELEVATOR APARTMENTS,2,10538,70,11423,0,0,0,1954,2
2,3,13 CONDOS - ELEVATOR APARTMENTS,2,170,1042,11201,1,0,1,2014,2
3,4,13 CONDOS - ELEVATOR APARTMENTS,2,4410,1023,11354,1,0,1,0,2
4,3,09 COOPS - WALKUP APARTMENTS,2C,1067,29,11215,0,0,0,1920,2

In [9]:
#Select the variables to be one-hot encoded
one_hot_features = ['BOROUGH', 'BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','TAX CLASS AT TIME OF SALE']

In [10]:
# Convert categorical variables into dummy/indicator variables (i.e. one-hot encoding).
one_hot_encoded = pd.get_dummies(data_X[one_hot_features])
one_hot_encoded.info(verbose=True, memory_usage=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53831 entries, 0 to 10766
Data columns (total 59 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   BOROUGH_1                                                             53831 non-null  uint8
 1   BOROUGH_2                                                             53831 non-null  uint8
 2   BOROUGH_3                                                             53831 non-null  uint8
 3   BOROUGH_4                                                             53831 non-null  uint8
 4   BOROUGH_5                                                             53831 non-null  uint8
 5   BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS                       53831 non-null  uint8
 6   BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                       53831 non-null  uint8
 7   BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                     53831 non-null  uint8
 8   BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS                         53831 non-null  uint8
 9   BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND                    53831 non-null  uint8
 10  BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER                        53831 non-null  uint8
 11  BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS                53831 non-null  uint8
 12  BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS              53831 non-null  uint8
 13  BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS                  53831 non-null  uint8
 14  BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS                53831 non-null  uint8
 15  BUILDING CLASS CATEGORY_11A CONDO-RENTALS                             53831 non-null  uint8
 16  BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS                 53831 non-null  uint8
 17  BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS               53831 non-null  uint8
 18  BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                        53831 non-null  uint8
 19  BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL             53831 non-null  uint8
 20  BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT    53831 non-null  uint8
 21  BUILDING CLASS CATEGORY_17 CONDO COOPS                                53831 non-null  uint8
 22  BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS                           53831 non-null  uint8
 23  BUILDING CLASS CATEGORY_22 STORE BUILDINGS                            53831 non-null  uint8
 24  BUILDING CLASS CATEGORY_23 LOFT BUILDINGS                             53831 non-null  uint8
 25  BUILDING CLASS CATEGORY_26 OTHER HOTELS                               53831 non-null  uint8
 26  BUILDING CLASS CATEGORY_27 FACTORIES                                  53831 non-null  uint8
 27  BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS                          53831 non-null  uint8
 28  BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES                         53831 non-null  uint8
 29  BUILDING CLASS CATEGORY_30 WAREHOUSES                                 53831 non-null  uint8
 30  BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND                     53831 non-null  uint8
 31  BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES             53831 non-null  uint8
 32  BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES                     53831 non-null  uint8
 33  BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES      53831 non-null  uint8
 34  BUILDING CLASS CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES            53831 non-null  uint8
 35  BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES                       53831 non-null  uint8
 36  BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES                          53831 non-null  uint8
 37  BUILDING CLASS CATEGORY_39 TRANSPORTATION FACILITIES                  53831 non-null  uint8
 38  BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER                        53831 non-null  uint8
 39  BUILDING CLASS CATEGORY_42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC     53831 non-null  uint8
 40  BUILDING CLASS CATEGORY_43 CONDO OFFICE BUILDINGS                     53831 non-null  uint8
 41  BUILDING CLASS CATEGORY_44 CONDO PARKING                              53831 non-null  uint8
 42  BUILDING CLASS CATEGORY_45 CONDO HOTELS                               53831 non-null  uint8
 43  BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                      53831 non-null  uint8
 44  BUILDING CLASS CATEGORY_47 CONDO NON-BUSINESS STORAGE                 53831 non-null  uint8
 45  BUILDING CLASS CATEGORY_48 CONDO TERRACES/GARDENS/CABANAS             53831 non-null  uint8
 46  TAX CLASS AT PRESENT_                                                 53831 non-null  uint8
 47  TAX CLASS AT PRESENT_1                                                53831 non-null  uint8
 48  TAX CLASS AT PRESENT_1A                                               53831 non-null  uint8
 49  TAX CLASS AT PRESENT_1B                                               53831 non-null  uint8
 50  TAX CLASS AT PRESENT_1C                                               53831 non-null  uint8
 51  TAX CLASS AT PRESENT_2                                                53831 non-null  uint8
 52  TAX CLASS AT PRESENT_2A                                               53831 non-null  uint8
 53  TAX CLASS AT PRESENT_2B                                               53831 non-null  uint8
 54  TAX CLASS AT PRESENT_2C                                               53831 non-null  uint8
 55  TAX CLASS AT PRESENT_4                                                53831 non-null  uint8
 56  TAX CLASS AT TIME OF SALE_1                                           53831 non-null  uint8
 57  TAX CLASS AT TIME OF SALE_2                                           53831 non-null  uint8
 58  TAX CLASS AT TIME OF SALE_4                                           53831 non-null  uint8
dtypes: uint8(59)
memory usage: 3.4 MB

In [11]:
data_X = data_X.drop(one_hot_features,axis=1)
data_X = pd.concat([data_X, one_hot_encoded] ,axis=1)

In [12]:
data_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53831 entries, 0 to 10766
Data columns (total 66 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   BLOCK                                                                 53831 non-null  int64
 1   LOT                                                                   53831 non-null  int64
 2   ZIP CODE                                                              53831 non-null  int64
 3   RESIDENTIAL UNITS                                                     53831 non-null  int64
 4   COMMERCIAL UNITS                                                      53831 non-null  int64
 5   TOTAL UNITS                                                           53831 non-null  int64
 6   YEAR BUILT                                                            53831 non-null  int64
 7   BOROUGH_1                                                             53831 non-null  uint8
 8   BOROUGH_2                                                             53831 non-null  uint8
 9   BOROUGH_3                                                             53831 non-null  uint8
 10  BOROUGH_4                                                             53831 non-null  uint8
 11  BOROUGH_5                                                             53831 non-null  uint8
 12  BUILDING CLASS CATEGORY_01 ONE FAMILY DWELLINGS                       53831 non-null  uint8
 13  BUILDING CLASS CATEGORY_02 TWO FAMILY DWELLINGS                       53831 non-null  uint8
 14  BUILDING CLASS CATEGORY_03 THREE FAMILY DWELLINGS                     53831 non-null  uint8
 15  BUILDING CLASS CATEGORY_04 TAX CLASS 1 CONDOS                         53831 non-null  uint8
 16  BUILDING CLASS CATEGORY_05 TAX CLASS 1 VACANT LAND                    53831 non-null  uint8
 17  BUILDING CLASS CATEGORY_06 TAX CLASS 1 - OTHER                        53831 non-null  uint8
 18  BUILDING CLASS CATEGORY_07 RENTALS - WALKUP APARTMENTS                53831 non-null  uint8
 19  BUILDING CLASS CATEGORY_08 RENTALS - ELEVATOR APARTMENTS              53831 non-null  uint8
 20  BUILDING CLASS CATEGORY_09 COOPS - WALKUP APARTMENTS                  53831 non-null  uint8
 21  BUILDING CLASS CATEGORY_10 COOPS - ELEVATOR APARTMENTS                53831 non-null  uint8
 22  BUILDING CLASS CATEGORY_11A CONDO-RENTALS                             53831 non-null  uint8
 23  BUILDING CLASS CATEGORY_12 CONDOS - WALKUP APARTMENTS                 53831 non-null  uint8
 24  BUILDING CLASS CATEGORY_13 CONDOS - ELEVATOR APARTMENTS               53831 non-null  uint8
 25  BUILDING CLASS CATEGORY_14 RENTALS - 4-10 UNIT                        53831 non-null  uint8
 26  BUILDING CLASS CATEGORY_15 CONDOS - 2-10 UNIT RESIDENTIAL             53831 non-null  uint8
 27  BUILDING CLASS CATEGORY_16 CONDOS - 2-10 UNIT WITH COMMERCIAL UNIT    53831 non-null  uint8
 28  BUILDING CLASS CATEGORY_17 CONDO COOPS                                53831 non-null  uint8
 29  BUILDING CLASS CATEGORY_21 OFFICE BUILDINGS                           53831 non-null  uint8
 30  BUILDING CLASS CATEGORY_22 STORE BUILDINGS                            53831 non-null  uint8
 31  BUILDING CLASS CATEGORY_23 LOFT BUILDINGS                             53831 non-null  uint8
 32  BUILDING CLASS CATEGORY_26 OTHER HOTELS                               53831 non-null  uint8
 33  BUILDING CLASS CATEGORY_27 FACTORIES                                  53831 non-null  uint8
 34  BUILDING CLASS CATEGORY_28 COMMERCIAL CONDOS                          53831 non-null  uint8
 35  BUILDING CLASS CATEGORY_29 COMMERCIAL GARAGES                         53831 non-null  uint8
 36  BUILDING CLASS CATEGORY_30 WAREHOUSES                                 53831 non-null  uint8
 37  BUILDING CLASS CATEGORY_31 COMMERCIAL VACANT LAND                     53831 non-null  uint8
 38  BUILDING CLASS CATEGORY_32 HOSPITAL AND HEALTH FACILITIES             53831 non-null  uint8
 39  BUILDING CLASS CATEGORY_33 EDUCATIONAL FACILITIES                     53831 non-null  uint8
 40  BUILDING CLASS CATEGORY_35 INDOOR PUBLIC AND CULTURAL FACILITIES      53831 non-null  uint8
 41  BUILDING CLASS CATEGORY_36 OUTDOOR RECREATIONAL FACILITIES            53831 non-null  uint8
 42  BUILDING CLASS CATEGORY_37 RELIGIOUS FACILITIES                       53831 non-null  uint8
 43  BUILDING CLASS CATEGORY_38 ASYLUMS AND HOMES                          53831 non-null  uint8
 44  BUILDING CLASS CATEGORY_39 TRANSPORTATION FACILITIES                  53831 non-null  uint8
 45  BUILDING CLASS CATEGORY_41 TAX CLASS 4 - OTHER                        53831 non-null  uint8
 46  BUILDING CLASS CATEGORY_42 CONDO CULTURAL/MEDICAL/EDUCATIONAL/ETC     53831 non-null  uint8
 47  BUILDING CLASS CATEGORY_43 CONDO OFFICE BUILDINGS                     53831 non-null  uint8
 48  BUILDING CLASS CATEGORY_44 CONDO PARKING                              53831 non-null  uint8
 49  BUILDING CLASS CATEGORY_45 CONDO HOTELS                               53831 non-null  uint8
 50  BUILDING CLASS CATEGORY_46 CONDO STORE BUILDINGS                      53831 non-null  uint8
 51  BUILDING CLASS CATEGORY_47 CONDO NON-BUSINESS STORAGE                 53831 non-null  uint8
 52  BUILDING CLASS CATEGORY_48 CONDO TERRACES/GARDENS/CABANAS             53831 non-null  uint8
 53  TAX CLASS AT PRESENT_                                                 53831 non-null  uint8
 54  TAX CLASS AT PRESENT_1                                                53831 non-null  uint8
 55  TAX CLASS AT PRESENT_1A                                               53831 non-null  uint8
 56  TAX CLASS AT PRESENT_1B                                               53831 non-null  uint8
 57  TAX CLASS AT PRESENT_1C                                               53831 non-null  uint8
 58  TAX CLASS AT PRESENT_2                                                53831 non-null  uint8
 59  TAX CLASS AT PRESENT_2A                                               53831 non-null  uint8
 60  TAX CLASS AT PRESENT_2B                                               53831 non-null  uint8
 61  TAX CLASS AT PRESENT_2C                                               53831 non-null  uint8
 62  TAX CLASS AT PRESENT_4                                                53831 non-null  uint8
 63  TAX CLASS AT TIME OF SALE_1                                           53831 non-null  uint8
 64  TAX CLASS AT TIME OF SALE_2                                           53831 non-null  uint8
 65  TAX CLASS AT TIME OF SALE_4                                           53831 non-null  uint8
dtypes: int64(7), uint8(59)
memory usage: 6.3 MB

In [13]:
train_X = data_X[:num_train_samples].to_numpy()
test_X = data_X[num_train_samples:].to_numpy()

# Regression

In [16]:
rf_regr = RandomForestRegressor()
rf_regr.fit(train_X, train_y)
Y_pred_rf = rf_regr.predict(test_X)

# MAPE metric
mean_absolute_percentage_error(test_y,Y_pred_rf)

0.3672876637286009

In [15]:
pd.DataFrame({"pred":Y_pred_rf}).to_csv("学号_姓名.csv")